</div>

<div id="Menu">
	<a href="/subnet-calculator">Subnet Calculator</a><br />
	<a href="/irc">IRC</a><br />
</div>

<!--    BlueRobot was here.
	I always like this layout :)
-->

</body>

</html>
