[% INCLUDE header.tt %]

<h1>Quiz Management</h1>

<a href="/c/view-cisco-quiz">View Quiz Questions</a><br />
<a href="/c/new-quiz">Create a new quiz question</a><br />
<br /><br />


[% INCLUDE footer.tt %]